body {
    background-color: green;
}

div {
    background-color: darkgreen;
}

.cards {
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.card:hover {
transform: scale(1.1);
}