
body {
    background-color: green;
}

#card-display-section ul {
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
}

ul {
    list-style: none;
    padding-left: 0%;;

}

ul li {
    margin: 5px;
}

/* form {
    display: none;
} */