body{
    background-color: green;
}
#showCardsBox{
    display:flex;
    flex-direction: row;
    background-color: darkgreen;
    margin: 2px;
    width: 200%;
}
.card{
    margin: 10px;
    width: 5%;
}
